---
layout: page
title: Streaming
background: '/img/bg-streaming.webp'
---

<!-- Posts Card Layout -->
<div class="card-deck h-100">
  {% for post in site.categories['streaming'] %}
    <div class="card text-white bg-dark mb-3" style="min-width: 18rem">
      <img class="card-img-top" src="{{ post.background }}" alt="">
      <div class="card-body">
        <div>
          <p class="post_date text-muted">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{ post.category }}</p>
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-secondary stretched-link">
          Read More
        </a>
      </div>
    </div>
  {% endfor %}
</div>

{% for post in paginator.posts %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">{{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
  </p>
</article>

<br>

{% endfor %}


<!-- Page Navigation -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}