---
layout: page
title: Streaming
description: A knowledge base for Twitch / YouTube streamers and those interested in streaming.
background: ""
---

<!-- Posts Card Layout -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for post in site.categories['streaming'] %}
  <div class="col">
    <div class="card text-white bg-dark mb-3 d-flex">
      <img class="card-img-top" src="{{ post.background }}" alt="" />
      <div class="card-body d-flex flex-column">
        <div>
          <p class="read-time text-muted">
            {% include read_time.html content=post.content %}
          </p>
        </div>
        <div>
          <h4 class="card-title">{{ post.title }}</h4>
        </div>
        <div>
          <p class="card-text">
            {% if post.subtitle %} {{ post.subtitle | truncatewords: 20 }} {%
            elsif post.description %} {{ post.description | truncatewords: 20 }}
            {% else %} {{ post.excerpt | truncatewords: 20 }} {% endif %}
          </p>
        </div>
        <a
          href="{{ site.baseurl }}{{ post.url }}"
          class="btn btn-secondary stretched-link mt-auto"
        >
          Read More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Row with responsive columns -->
<!-- <div class="row d-flex justify-content-center">
  {% for post in site.categories['streaming'] %}
  <div class="col-md-4 mb-4">
    <div class="card text-white bg-dark h-100">
      <img
        class="card-img-top"
        src="{{ post.background }}"
        alt="{{ post.title }}"
      />
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{ post.excerpt | truncatewords: 20 }}</p>
        <a
          href="{{ site.baseurl }}{{ post.url }}"
          class="btn btn-secondary stretched-link mt-auto"
        >
          Read More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div> -->

{% for post in paginator.posts %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">
      {{ post.excerpt | strip_html | truncatewords: 15 }}
    </h3>
    {% endif %}
  </a>
  <p class="post-meta">
    {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
    content=post.content %}
  </p>
</article>

<br />

{% endfor %}

<!-- Page Navigation -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">
  {% if paginator.previous_page %}
  <a
    class="btn btn-primary float-left"
    href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
    >&larr; Newer<span class="d-none d-md-inline"> Posts</span></a
  >
  {% endif %} {% if paginator.next_page %}
  <a
    class="btn btn-primary float-right"
    href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
    >Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a
  >
  {% endif %}
</div>

{% endif %}
