---
layout: page
title: Wellbeing
description: Learn how improve your overall wellbeing as a content creator.
background: ""
category: wellbeing
---

<!-- OLD Posts List Layout
<div class="posts">
  {% for post in site.categories['wellbeing'] limit:10 %}
    <article class="post">
      <img class="img-fluid" src="{{ post.background }}" alt="{{ post.title }}">
      <br>
      <h2>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <div class="entry">
        {{ post.subtitle }}
      </div>
      <br>
      <div>
        <p class="post_date text-muted">{{ post.date | date: "%B %e, %Y" }}</p>
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">
          Read More
      </a>
    </article>
    <br>
    <hr>
  {% endfor %}
</div>
-->

<!-- Posts Card Layout -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for post in site.categories['wellbeing'] %}
  <div class="col">
    <div class="card text-white bg-dark mb-3 d-flex">
      <img
        class="card-img-top"
        src="{{ post.background }}"
        alt="{{ post.background_alt | default: post.title }}"
      />
      <div class="card-body d-flex flex-column">
        <div>
          <p class="read-time text-muted">
            {% include read_time.html content=post.content %}
          </p>
        </div>
        <div>
          <h4 class="card-title">{{ post.title }}</h4>
        </div>
        <div>
          <p class="card-text">
            {% if post.subtitle %} {{ post.subtitle | truncatewords: 20 }} {%
            elsif post.description %} {{ post.description | truncatewords: 20 }}
            {% else %} {{ post.excerpt | truncatewords: 20 }} {% endif %}
          </p>
        </div>
        <a
          href="{{ site.baseurl }}{{ post.url }}"
          class="btn btn-secondary stretched-link mt-auto"
        >
          Read More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% for post in paginator.posts %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">
      {{ post.excerpt | strip_html | truncatewords: 15 }}
    </h3>
    {% endif %}
  </a>
  <p class="post-meta">
    {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
    content=post.content %}
  </p>
</article>

<br />

{% endfor %}

<!-- Page Navigation -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">
  {% if paginator.previous_page %}
  <a
    class="btn btn-primary float-left"
    href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
    >&larr; Newer<span class="d-none d-md-inline"> Posts</span></a
  >
  {% endif %} {% if paginator.next_page %}
  <a
    class="btn btn-primary float-right"
    href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
    >Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a
  >
  {% endif %}
</div>

{% endif %}
