<div id="cookie-banner" class="cookie-banner">
  <p>
    We use cookies to enhance your experience. By continuing to use this site,
    you accept our use of non-essential cookies (Google Analytics) stored for up
    to 6 months. Read our
    <a href="/cookie-policy" target="_blank">Cookie Policy</a> to learn more.
  </p>

  <button id="accept-cookies" class="btn btn-primary">Accept</button>
  <button id="reject-cookies" class="btn btn-secondary">Reject</button>
  <!-- <button id="manage-cookies" class="btn btn-secondary">Manage</button> -->
</div>
