<!-- Footer -->

<footer>
  <hr>
  <br>
  <div class="container">
    <div class="row justify-content-center"> <!-- Center the content horizontally -->
      <div class="col-lg-12 col-md-12 mx-auto text-center"> <!-- Center the content within the column -->
        
        <!-- Short introduction to Well&Content -->
        <p class="card-text">
          At Well&Content, you'll find resources for every stage of your creative journey.
        </p>
        
        <!-- Resources for Creators -->
        <div class="footer-section">
          <h4>Creator Resources</h4>
          <p>
            <a class="footer-resources-link" href="/templates">Templates</a> |
            <a class="footer-resources-link" href="/guides">Guides</a> |
            <a class="footer-resources-link" style="text-decoration: none" href="/blog"><strong>Posts:</strong></a><a class="footer-resources-link" href="/streaming">Streaming</a><a class="footer-resources-link" href="/wellbeing">Wellbeing</a><a class="footer-resources-link" href="/blogging">Blogging</a>
          </p>
        </div>
        
        <!-- Mental Health Resources -->
        <div class="footer-section">
          <h4>Mental Health</h4>
          <p>
            <a class="footer-resources-link" href="https://safeinourworld.org/" target="_blank" rel="noopener noreferrer">Safe In Our World</a> |
            <a class="footer-resources-link" href="https://www.mind.org.uk/" target="_blank" rel="noopener noreferrer">Mind</a> |
            <a class="footer-resources-link" href="https://www.thetrevorproject.org/" target="_blank" rel="noopener noreferrer">The Trevor Project</a> |
            <a class="footer-resources-link" href="https://suicidepreventionlifeline.org/" target="_blank" rel="noopener noreferrer">Lifeline</a>
          </p>
        </div>
        
        <hr class="dark-mode"> <!-- Use the horizontal line outside the list -->

        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <p class="copyright">&copy; Well&Content {{ 'now' | date: "%Y" }}</p>
          </li>
          
          <li class="list-inline-item">
            <a class="footer-link" href="{{"/legal-disclosure" | relative_url }}">Legal Disclosure</a>
          </li>
          
          <li class="list-inline-item">
            <a class="footer-link" href="{{"/cookie-policy" | relative_url }}">Cookie Policy</a>
          </li>

          <li class="list-inline-item">
            <a class="footer-link" href="{{"/about" | relative_url }}">About</a>
          </li>

          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a class="footer-link" href="https://twitter.com/{{ site.twitter_username }}" aria-label="Follow me on Twitter" target="_blank" rel="noopener noreferrer">
              <span class="fa-stack fa-lg">
                <i class="bi bi-twitter"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.email %}
          <li class="list-inline-item">
            <a class="footer-link" href="mailto:{{ site.email | encode_email }}" aria-label="Send me an email"
              <span class="fa-stack fa-lg">
                <i class="bi bi-envelope"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        
        

        <br><br> <!-- Move the breaks outside the list -->
      </div>
    </div>
  </div>
</footer>
