<!-- Include AdSense Ad Code Here -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6216107086354809"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6216107086354809"
     data-ad-slot="3541167879"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Display Ads -->

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6216107086354809"
     data-ad-slot="2338345968"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- AMP Ads-->

<amp-auto-ads type="adsense"
        data-ad-client="ca-pub-6216107086354809">
</amp-auto-ads>

<amp-ad width="100vw" height="320"
     type="adsense"
     data-ad-client="ca-pub-6216107086354809"
     data-ad-slot="2338345968"
     data-auto-format="rspv"
     data-full-width="">
  <div overflow=""></div>
</amp-ad>