<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- Uses page-specific description if available, otherwise falls back to site-wide description in _config.yml -->
  <meta
    name="description"
    content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | escape }}" />
  {% else %}
  <meta name="keywords" content="{{ site.keywords | join: ', ' }}" />
  {% endif %}

  <title>
    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }} {%
    else %}{{ site.title | escape }} - {{ site.description | escape }} {% endif
    %}
  </title>

  <!-- Preconnect for faster font loading -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- Load Google Fonts -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;700&display=swap"
    as="font"
  />

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | absolute_url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape
  }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Preload images -->
  {% if item.cover %}
  <link
    rel="preload"
    href="{{ item.cover | replace: '.webp', '-800.webp' }}"
    as="image"
    type="image/webp"
    crossorigin="anonymous"
  />
  {% endif %} {% if post.background %}
  <link
    rel="preload"
    href="{{ post.background | replace: '.webp', '-800.webp' }}"
    as="image"
    type="image/webp"
    sizes="800px"
    crossorigin="anonymous"
  />
  {% endif %}

  <!-- Preload Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
  />

  <!-- Favicon Links -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="/assets/favicon/site.webmanifest" />
  <link
    rel="mask-icon"
    href="/assets/favicon/safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta
    name="msapplication-config"
    content="/assets/favicon/browserconfig.xml"
  />
  <meta name="theme-color" content="#ffffff" />

  <!-- Theme Script - Sets the theme early -->
  <script async>
    (function () {
      const savedTheme = localStorage.getItem("theme") || "dark"; // Default to dark
      //console.log("Getting theme from localStorage in head.html:", savedTheme);
      document.documentElement.classList.add(savedTheme + "-mode");
    })();
  </script>

  <!-- Twitter Cards Metadata -->
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ page.author }}" />
  <meta name="twitter:title" content="{{ page.title }}" />

  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}" />
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %} {% if page.image %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ site.url }}{{ page.background }}" />

  {% else %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="{{ site.title_background }}" />
  {% endif %} {% seo %}
</head>
