<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

       <!-- Templates -->
        <li class="nav-item dropdown" id="site-category">
          <a class="nav-link" href="/templates">Templates</a>
        </li>
        
        <!-- Guides -->
        <li class="nav-item dropdown" id="site-category">
          <a class="nav-link" href="/guides">Guides</a>
        </li>

        <!-- Posts -->
        <!-- <li class="nav-item dropdown" id="site-category">
          <a class="nav-link" href="/blog">Posts</a>
        </li> -->

        <!-- Posts (Dropdown) -->
        <li class="nav-item dropdown dropdown-center" id="site-category">
          <!-- Link to /blog -->
          <a class="nav-link" href="/blog" style="cursor: pointer">Posts</a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-radius: 10px; overflow: hidden;">
            <li><a class="dropdown-item" href="/streaming">Streaming</a></li>
            <li><a class="dropdown-item" href="/wellbeing">Wellbeing</a></li>
            <li><a class="dropdown-item" href="/blogging">Blogging</a></li>
          </ul>
        </li>

        <!-- About -->
        <li class="nav-item">
          <a class="nav-link" href="/about">About</i></a>
        </li>        
        
        <!-- Search Bar -->
        <!-- <li class="nav-item">
          <form role="search" method="get" id="search-form" action="{{ '/search' | relative_url }}">
            <input type="text" id="search-field" name="q" placeholder="Search posts..." />
            <button type="submit" id="search-btn">Search</button>
          </form>
        </li> -->
        
        <!-- Search Icon -->
        <li class="nav-item">
          <a class="nav-link" href="{{ '/search' | relative_url }}" title="Search">
            <i class="bi bi-search" aria-hidden="true"></i>
          </a>
        </li>


        <!-- Twitter -->
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/glitchedinorbit"><i class="bi bi-twitter"></i></a>
        </li>
        
        <!-- Email -->
        <li class="nav-item">
          <a class="nav-link" href="mailto:info.wellcontent@gmail.com"><i class="bi bi-envelope"></i></a>
        </li>

        <!-- Theme Toggle -->
        <li class="nav-item">
          <button id="dark-mode-toggle" class="btn-secondary" aria-label="Toggle dark mode">
            <i id="dark-mode-icon" class="bi bi-moon"></i> <!-- Default to moon for dark mode -->
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>