---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header
  class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}'); min-height: 40vh;"
>
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-10 mx-auto">
          <div class="page-heading">
            <h1 class="site-title">Simplify your content creation journey.</h1>
            <span class="subheading">
              Discover <i>creator resources</i> to help you cut
              <i class="bi bi-scissors"></i> through the overwhelm.
            </span>
            <br /><br />
            <a
              class="btn btn-primary"
              href="/templates"
              aria-label="Discover Templates"
            >
              Browse Templates <i class="bi bi-arrow-right-short"></i>
            </a>
            <a
              class="btn btn-outline-primary"
              href="/guides"
              aria-label="Get Guides"
            >
              Get Guides <i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Templates Section -->
  <div class="container" style="margin-bottom: 100px">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-10 mx-auto text-center">
        <h2>Explore Templates and Productivity Tools</h2>
        <p class="text-muted">
          Streamline your workflow with curated tools and resources.
        </p>
      </div>
    </div>

    <!-- Row with responsive columns -->
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
      {% assign combined = site.templates | concat: site.guides %} {% assign
      combined = combined | sort: "order" %} {% assign count = 0 %} {% for item
      in combined %} {% if item.order and count < 6 %}
      <div class="col d-flex mb-3">
        <div class="card text-white bg-dark h-100">
          <div class="card-img-wrapper">
            <img
              class="card-img-top"
              srcset="{{ item.cover | replace: '.webp', '-320.webp' }} 320w, 
              {{ item.cover | replace: '.webp', '-480.webp' }} 480w, 
              {{ item.cover | replace: '.webp', '-800.webp' }} 800w"
              sizes="(max-width: 576px) 100vw, (max-width: 768px) 50vw, 33vw"
              src="{{ item.cover }}"
              alt="{{ item.title }}"
            />
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ item.title }}</h3>
            <p class="card-text">{{ item.subtitle }}</p>
            <a
              href="{{ site.baseurl }}{{ item.url }}"
              class="btn btn-secondary stretched-link"
              >Download Now</a
            >
          </div>
        </div>
      </div>
      {% assign count = count | plus: 1 %} {% endif %} {% endfor %}
    </div>

    <!-- Centered Button -->
    <div class="text-center mt-4">
      <a
        class="btn btn-primary"
        href="/templates"
        aria-label="Discover All Templates"
      >
        Discover All Templates <i class="bi bi-arrow-right-short"></i>
      </a>
    </div>
  </div>

  <!-- Popular Posts Section -->
  <div class="container" style="margin-bottom: 50px">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-10 mx-auto text-center">
        <h2>Popular Posts</h2>
        <p class="text-muted">Check out what's trending among readers.</p>
      </div>
    </div>

    <!-- Row with responsive columns with a maximum of 3 posts -->
    <div class="row d-flex justify-content-center g-4">
      {% assign popular_posts = site.posts | sort: 'popularity' %} {% assign
      count = 0 %} {% for post in popular_posts %} {% if post.popularity %} {%
      if count < 3 %}
      <div class="col d-flex">
        <div class="card text-white bg-dark mb-3 h-100 d-flex flex-column">
          <div class="card-img-wrapper">
            <img
              class="card-img-top"
              srcset="{{ post.background | replace: '.webp', '-320.webp' }} 320w, 
              {{ post.background | replace: '.webp', '-480.webp' }} 480w, 
              {{ post.background | replace: '.webp', '-800.webp' }} 800w"
              sizes="(max-width: 576px) 100vw, (max-width: 768px) 50vw, 33vw"
              src="{{ post.background }}"
              alt="{{ post.background_alt | default: post.title }}"
              loading="lazy"
            />
          </div>
          <div class="card-body d-flex flex-column">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">
              {% if post.subtitle %} {{ post.subtitle | truncatewords: 20 }} {%
              elsif post.description %} {{ post.description | truncatewords: 20
              }} {% else %} {{ post.excerpt | truncatewords: 20 }} {% endif %}
            </p>
            <a
              href="{{ site.baseurl }}{{ post.url }}"
              class="btn btn-secondary stretched-link"
              style="margin-top: auto"
              >Continue Reading</a
            >
          </div>
        </div>
      </div>
      {% assign count = count | plus: 1 %} {% endif %} {% endif %} {% endfor %}
    </div>

    <!-- Centered Button -->
    <div class="text-center mt-4">
      <a class="btn btn-primary" href="/blog" aria-label="Browse All Posts">
        Browse All Posts <i class="bi bi-arrow-right-short"></i>
      </a>
    </div>
  </div>

  <!-- About Section -->
  <section id="about" class="py-5" style="margin-bottom: 50px">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="card bg-dark text-white shadow-sm w-100">
            <div class="card-body">
              <h4 class="card-title">Hi, nice to meet you!</h4>
              <p class="card-text">
                "I'm Chloe, the content creator and founder of Well&Content.
                Since 2016, I've been navigating the world of content creation,
                learning how to balance creativity, productivity, and
                well-being. Through Well&Content, I share the tools, guides, and
                insights that have helped me streamline my process and thrive as
                a creator."
              </p>
              <a href="/about" class="btn btn-outline-primary">
                More About Me <i class="bi bi-arrow-right-short"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Recent Posts Section -->
  <div class="container" style="margin-bottom: 50px">
    <div class="row">
      <div class="col-12 mx-auto text-center">
        <h2>Recent Posts</h2>
        <p class="text-muted">
          Check out the latest articles and tips for streamers and content
          creators.
        </p>
      </div>
    </div>

    <!-- Row with responsive columns with a maximum of 5 posts  -->
    <div class="row d-flex justify-content-center gd-3">
      {% for post in site.posts limit:5 %}
      <div class="col d-flex mb-3">
        <div
          class="card text-white bg-dark d-flex flex-column h-100"
          style="min-width: 18rem; margin-bottom: 2rem"
        >
          <div class="card-img-wrapper">
            <img
              class="card-img-top"
              srcset="{{ post.background | replace: '.webp', '-320.webp' }} 320w, 
              {{ post.background | replace: '.webp', '-480.webp' }} 480w, 
              {{ post.background | replace: '.webp', '-800.webp' }} 800w"
              sizes="(max-width: 576px) 100vw, (max-width: 768px) 50vw, 33vw"
              src="{{ post.background }}"
              alt="{{ post.background_alt | default: post.title }}"
              loading="lazy"
            />
          </div>
          <div class="card-body d-flex flex-column">
            <div>
              <p class="read-time text-muted">
                {% include read_time.html content=post.content %}
              </p>
            </div>
            <div>
              <h3 class="card-title">{{ post.title }}</h3>
            </div>
            <div>
              <p class="card-text">
                {% if post.subtitle %} {{ post.subtitle | truncatewords: 20 }}
                {% elsif post.description %} {{ post.description |
                truncatewords: 20 }} {% else %} {{ post.excerpt | truncatewords:
                20 }} {% endif %}
              </p>
            </div>
            <a
              href="{{ site.baseurl }}{{ post.url }}"
              class="btn btn-secondary stretched-link mt-auto"
              >Continue Reading</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Centered Button -->
    <div class="text-center mt-4">
      <a class="btn btn-primary" href="/blog" aria-label="Browse All Posts">
        Browse All Posts <i class="bi bi-arrow-right-short"></i>
      </a>
    </div>
  </div>
</header>
